
{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div
  class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary main"
  style="padding: 0 3rem !important"
>
  <div class="row">
    <div class="col-md-5">
      <img class="img-fluid" src="../assets/dist/images/mano.svg" />
    </div>
    <div class="col-md-7 p-lg-5 my-5">
      <h2 class="display-4 fw-normal">
        Todo en <span class="text-body-secondary">UN</span> Bot
      </h2>
      <p class="lead fw-normal">
        Es una herramienta unificada para la consulta, visualización y
        personalización de la información académica de los estudiantes de la
        Universidad Nacional de Colombia Sede Medellín, de una manera que les
        resulte cómoda, accesible y versátil.
      </p>
      <a
        class="btn btn-outline-secondary"
        href="https://telegram.me/allun_dev_bot"
        >Iniciar ahora</a
      >
    </div>
  </div>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <img class="profile" src="../assets/dist/images/david.jpg" />
      <h2 class="fw-normal">David Pérez Zapata</h2>
      <p>
        <a class="btn btn-secondary" href="https://github.com/Deipzza" +
          >@Deipzza</a
        >
      </p>
    </div>
    <div class="col-lg-4">
      <img class="profile" src="../assets/dist/images/catherin.png" />
      <h2 class="fw-normal">Catherin Patiño Restrepo</h2>
      <p>
        <a class="btn btn-secondary" href="https://github.com/cpatinore"
          >@cpatinore</a
        >
      </p>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <hr class="featurette-divider" />
</div>
{% endblock %}